@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Courgette|Montserrat|Pacifico');
*{
	font-family: 'Montserrat', sans-serif;
}
section{
	padding: 50px;
}
header{
	height: 700px;
	background-image: url(../img/header-bg.jpg);
	background-size: cover;
	padding-top: 300px;
	color: white;
}

h1, h2, h3, h4{
	font-weight: bolder;
}

.navbar-brand {
    color: #F6C90E;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
}

.negro{
	background-color: black;
	color: white;
}
.navbar-nav>.active{
	background-color: #F6C90E;
}

.navbar-nav a{
	color: white;
}
.naranja{
	background-color: #F6C90E;
	color: white;
}

.redondo{
	color: white;
  width: 200px;
  height: 200px;
  padding: 52px;
  background-color: #fed136;
  border-radius: 50%;
  border: 5px solid #eeeeee;
  font-size: 140%;
  font-weight: bold;
}
.caption{
	max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
}

#contact{
	background-color: black;
	background-image: url(../img/map-image.png);
	background-size: cover;
	color: white;
}

.gris{
	background-color: #eae8e8;
}

.social a{
	font-size: 20px;
    line-height: 35px;
    display: block;
    width: 35px;
    height: 35px;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #222;
}
